testnet=1
rpcuser=${RPC_USER}
rpcpassword=${RPC_PASSWORD}
dnsseed=0
upnp=0
debug=1
daemon=1
server=1
staking=1
listen=1
maxconnections=256
logtimestamps=1
txindex=1
txrlpindex=1
addrindex=1
logevents=1
printpriority=1
rpcport=51474
rpcbind=0.0.0.0:51474
rpcallowip=0.0.0.0/0
deprecatedrpc=accounts
[main]
port=9872
rpcport=51473
[testnet]
# listen on different ports than default testnet
port=5778
rpcport=51474
